/* Global */
body { background:#ddd;	font-family: 'Open Sans', sans-serif; }
h1 {border-bottom:5px solid rgb(190, 45, 45);}
h2 {font-size:1.5em; font-weight:bold;}

.btn:hover { color:#818181; }
.wrapper { margin-bottom:2em;}
.container { background:white; }

/* Header */
.navbar-right .active { background:white; border-bottom:3px solid rgb(190, 45, 45);}
.navbar-right .active a {color:black;}
.navbar-right .active:hover a {background:white; border:none;}
.navbar-right a:hover { color:black;border-bottom:3px solid rgb(143, 43, 43);}
.navbar-right a { color: white; }

.navbar-icons { font-size:1.7em; }
.navbar-icons a { color:#fff; }
.navbar-icons a:hover { color:#818181; }

.search { margin-bottom:1.5em;}

.header {
	background: url('../img/header.png') #524A6F right center no-repeat; /* Isle of Man landscapes for photo*/	
	color: white;
}

.btn {
	color: white;
	background-color: black;
	border-color: #ccc;
}

/* Footer */
.footer-links { margin-bottom:2em;}
